body {
  /*background-color: #F4DFD0;*/
  background-image: url("./pages/asset/backgroundImg.jpg");
  background-repeat: no-repeat;
  backface-visibility: 0.5;

}

/*
Photo by <a href="https://unsplash.com/@charleingracia?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Charlein Gracia</a> on <a href="https://unsplash.com/s/photos/martial-arts?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
*/
